.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 550px;
  margin-left: 10%;
  height: 40%;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  border-radius: 25px;
}

.modal-content {
  background-color: hwb(122 35% 52%);
  padding: 20px;
  border-radius: 5px;
}

.modal-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.modal-body {
  list-style: none;
  padding: 0;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

button {
  padding: 5px;
  width: 80px;
  font-size: 11px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
