.wrapper {
  text-align: center;
}
@media only screen and (max-width: 500px) {
  .wrapper {
    width: 290%;
    height: 100vh;
    text-align: center;
    background: linear-gradient(to right, #4f730d, #a9b88d);
    background-size: cover;
  }
}
@media only screen and (min-width: 500px) and (max-width: 950px) {
  .wrapper {
    width: 200%;
    height: 100vh;
    text-align: center;
    background: linear-gradient(to right, #4f730d, #a9b88d);
    background-size: cover;
  }
}
/* MODAL SUBJECT */

.modalSubject {
  position: absolute;
  left: 35%;
  top: 43%;
  width: 30%;
  height: 40%;
  border-radius: 25px;
}

.modal-contentSubject {
  background-color: hwb(86 18% 79%);
  border-radius: 5px;
  padding: 15px;
}

.modal-headerSubject {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.modal-bodySubject {
  list-style: none;
  padding: 0;
}

.modal-footerSubject {
  display: flex;
  justify-content: flex-end;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 550px;
  margin-left: 30%;
  height: 45%;
  margin-top: 140px;
  background-color: transparent;
  z-index: 10;
  border-radius: 25px;
}

.modal-content {
  background-color: hwb(120 18% 81%);
  padding: 20px;
  border-radius: 25px;
}

.modal-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.modal-body {
  list-style: none;
  padding: 0;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

button {
  padding: 5px;
  width: 80px;
  font-size: 11px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
